.svn
*/.svn*
build*
ICONS/Makefile.in
Makefile.in
VisualC6/Makefile.in
VisualC8/Makefile.in
aclocal.m4
autom4te.cache/
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
config.h.in
configure
data/Makefile.in
doc/Makefile.in
src/MAC/Makefile.in
src/Makefile.in
src/POSIX/Makefile.in
src/SDL/Makefile.in
